certifi==2024.2.2
cloudinary==1.39.1
Django==5.0.3
django_allauth==0.61.1
django_cron==0.6.0
django_environ==0.11.2
django_storages==1.14.2
djangorestframework==3.15.1
drf_yasg==1.21.7
locust== 2.24.1
openai==1.30.4
protobuf==5.27.0
pytest==8.1.1
python-decouple==3.8
python-dotenv==1.0.1
Requests==2.32.2
selenium==4.21.0
