{% extends 'guided_meditation.html' %}


{% block content %}
  <div class="main-posts">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <img class="single-video" src="{{ video.image.url }}" alt="">
        </div>
        <div class="col-md-6 col-sm-6">
          <span class="date">{{ video.create_at }}</span>
          <h4><a href="{% url 'video' video.id %}">{{ video.title }}</a></h4>
          <p>{{ video.description }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
            <iframe width="1000" height="800" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0"
                    allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}