{% load static %}
{% load socialaccount %}
{% include 'navbar.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>


            <div class="translucent-block">
        <div class="main-text">
            <h1>Main Heading</h1>
<!--                <button class="btn btn-outline-info">-->
<!--        <a href="{% provider_login_url 'google'%}?next=/">-->
<!--            <i class="fab fa-google"></i>-->
<!--            Login with Google-->
<!--        </a>-->
<!--    </button>-->


                    <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non libero lorem. Nunc vitae nunc et justo tristique consectetur. Mauris consectetur feugiat lorem. Duis at odio in ligula congue feugiat. Suspendisse potenti. Nam a turpis at enim elementum malesuada. Phasellus volutpat lorem nec leo auctor malesuada. Fusce eu felis at quam pharetra vestibulum in ut lacus. Integer vel ultricies felis, id laoreet metus. Curabitur condimentum, ligula vitae bibendum ultricies, elit libero porta ipsum, a eleifend ligula dolor eu libero. Nulla facilisi. Vestibulum feugiat vestibulum nisl. Integer eleifend lorem eget ante sollicitudin, et interdum tellus accumsan. Vivamus accumsan in velit a aliquam. Nullam non efficitur eros, vitae consectetur ligula.
        </p>
        <p>
            Sed ac elit risus. In tristique magna at libero luctus, nec efficitur neque vestibulum. Nulla facilisi. Vestibulum posuere odio a diam viverra, at aliquet ante condimentum. Nullam semper fringilla purus, sit amet scelerisque odio consectetur eget. Donec congue nec risus vitae lobortis. Vivamus nec felis nec est aliquet tempus. Vivamus sit amet fermentum dolor. Phasellus rutrum libero vel eros sollicitudin, ac vehicula odio accumsan.
        </p>
        <p>
            Quisque convallis, est et molestie hendrerit, velit odio ultrices urna, nec elementum lorem purus eget est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean sit amet justo varius, placerat risus ut, feugiat arcu. Nam dictum consequat libero, nec cursus nulla consequat nec. Proin ac ante lobortis, ultricies mi eu, fringilla quam. Duis quis ex varius, varius elit eget, rhoncus tellus. Morbi consectetur, dolor non dictum vestibulum, urna orci pellentesque nisl, sit amet finibus dui purus nec elit. Duis lobortis metus a ex varius, eget tempus sem posuere. Mauris bibendum laoreet lacus vel vulputate. Cras rutrum vel est vel fermentum.
        </p>
        </div>
    </div>

  <footer>
    <span>StyleSheet (C) All rights Reserved</span> <!-- Copyright information -->
  </footer>


<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
