{% load static %}
{% load socialaccount %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>

<body>
{% csrf_token %}
<input type="checkbox" id="active">
<label for="active" class="menu-btn"><span></span></label>
<label for="active" class="close"></label>
<div class="wrapper">
    <ul>
        {% if user.is_authenticated %}
        <li><a href="/profile/">{{ user.username }}</a></li>
        {% endif %}
        <li><a href="/">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="/forum/">Forum</a></li>
        <li><a href="/guided-meditation/">Meditation</a></li>
        <li><a href="/calendar/">Progress</a></li>
        <li><a href="{% url 'logout' %}" id="logout-link" method="post">Logout</a></li>
        {% else %}
        <li><a href="{% provider_login_url 'google' %}?next=/">Login</a></li>
        {% endif %}
        <li><a href="/feedback/">Feedback</a></li>
        <li><a href="/faq/">FAQ</a></li>

    </ul>
</div>


<script>
    document.getElementById('logout-link').addEventListener('click', function (event) {
        event.preventDefault();

        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '{% url "logout" %}';


        var csrfInput = document.createElement('input');
        csrfInput.type = 'hidden';
        csrfInput.name = 'csrfmiddlewaretoken';
        csrfInput.value = '{{ csrf_token }}';


        form.appendChild(csrfInput);


        document.body.appendChild(form);
        form.submit();
    });
</script>
</body>
